.home-page {
  max-width: 100%;
  height: 70dvh;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

#home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#logo {
  height: 10rem;
  position: absolute;
  z-index: 2;
  margin-top: 15px;
}
