p,
h4,
h3,
h2 {
  margin: 0;
}

.stadium-page {
  display: flex;
  flex-direction: column;
  margin: 15px 30px;
}

.stadium-title {
  background-color: var(--red);
  text-align: center;
  padding: 25px 0;
  border-radius: 7px;
}

.stadium-title .title-name {
  color: white;
  font-size: 3.5rem;
}

.stadium-container {
  display: flex;
  column-gap: 50px;
  margin-top: 30px;
}

.stadium-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 30px;
}

.stadium-image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
}

.thumbnail-title {
  font-weight: bold;
  font-size: 2.5rem;
}

.thumbnail-description {
  margin-top: 20px;
  text-indent: 20px;
  line-height: 25px;
  overflow-wrap: break-word;
}

.anfield {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--red);
}

.stadium-stats i {
  margin: 10px 0;
}

.stadium-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.stadium-button {
  background-color: white;
  cursor: pointer;
  border: none;
  padding: 20px 0;
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
  transition:
    color 0.2s ease,
    transform 0.5s ease;
}

.stadium-button:hover {
  color: hsla(0, 0%, 9%, 0.621);
}

.stadium-button:active {
  transform: translateX(50px);
}

.line {
  width: auto;
  margin: 0;
}

/* Tablets */
@media (max-width: 800px) {
  .stadium-container {
    display: flex;
    flex-direction: column;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .stadium-container {
    display: flex;
    flex-direction: column;
  }

  .thumbnail-description {
    overflow-wrap: break-word;
    text-indent: 0;
  }

  .stadium-title {
    padding: 15px 0;
  }

  .stadium-title .title-name {
    font-size: 2rem;
  }
}
