.trophy-page {
  display: flex;
  flex-direction: column;
  margin: 15px 30px;
}

.trophy-title {
  background-color: var(--red);
  text-align: center;
  padding: 25px 0;
  border-radius: 7px;
}

#trophy-title {
  font-size: 3.5rem;
  color: white;
}

.trophy-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.trophy-card {
  height: 600px;
}

.trophy-thumbnail {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 7px;
}

#trophy-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#trophy-image:hover {
  transform: scale(1.06);
}

.trophy-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

#trophy-number {
  font-size: 2.5rem;
  color: var(--gold);
  font-weight: bold;
  margin: 10px 0;
}

#trophy-name {
  font-size: 1.6rem;
  white-space: nowrap;
}

/* Mobile */
@media (max-width: 600px) {
  .trophy-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  #trophy-title {
    white-space: nowrap;
    font-size: 3rem;
    padding: 10px;
  }
}
